Console/ConsoleApplication1/Service References/CGSServiceReference/CGS_Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TrackView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Delivernum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpressQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliverNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpressQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExpressQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TrackViewSoapIn">
    <wsdl:part name="parameters" element="tns:TrackView" />
  </wsdl:message>
  <wsdl:message name="TrackViewSoapOut">
    <wsdl:part name="parameters" element="tns:TrackViewResponse" />
  </wsdl:message>
  <wsdl:message name="ExpressQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExpressQuery" />
  </wsdl:message>
  <wsdl:message name="ExpressQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExpressQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="CGS_ServerSoap">
    <wsdl:operation name="TrackView">
      <wsdl:input message="tns:TrackViewSoapIn" />
      <wsdl:output message="tns:TrackViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExpressQuery">
      <wsdl:input message="tns:ExpressQuerySoapIn" />
      <wsdl:output message="tns:ExpressQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CGS_ServerSoap" type="tns:CGS_ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrackView">
      <soap:operation soapAction="http://tempuri.org/TrackView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpressQuery">
      <soap:operation soapAction="http://tempuri.org/ExpressQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CGS_ServerSoap12" type="tns:CGS_ServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrackView">
      <soap12:operation soapAction="http://tempuri.org/TrackView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpressQuery">
      <soap12:operation soapAction="http://tempuri.org/ExpressQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CGS_Server">
    <wsdl:port name="CGS_ServerSoap" binding="tns:CGS_ServerSoap">
      <soap:address location="http://www.ydhexpress.com:8082/CGS_Server.asmx" />
    </wsdl:port>
    <wsdl:port name="CGS_ServerSoap12" binding="tns:CGS_ServerSoap12">
      <soap12:address location="http://www.ydhexpress.com:8082/CGS_Server.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>